body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}
.container {
    width: 90%;
    height: 90%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}
ul {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
ul li {
    list-style: none;
    margin: 0 0 40px;
}
ul li .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform: rotateY(90deg);
    transform-origin: left;
}
ul li input[type="radio"] {
    position: absolute;
    z-index: 1;
    visibility: hidden;
}
.navigation {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.bar {
    width: 25px;
    height: 15px;
    border: 4px solid rgb(255, 255, 255);
    margin: 4px;
    cursor: pointer;
    transition: transform 0.5s;
    transform: scale(1);
}
.bar:hover {
    background: white;
    transform: scale(1.2);
}
ul li input[type="radio"]:checked ~ .slide {
    transition: transform 0.5s;
    transform: rotateY(0deg);
    transform-origin: right;
}
ul li .slide .contant {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
}
ul li .slide .contant h2 {
    margin: 0;
    padding: 0;
    font-size: 42px;
}
ul li .slide .contant p {
    font-size: 18px;
    text-align: justify;
}
ul li .slide img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
ul li input[type="radio"]:checked ~ .slide img {
    animation: animate 40s linear infinite;
}
@keyframes animate {
    0% 
    {
        transform: scale(1);
    }
    50% 
    {
        transform: scale(1.2);
    }
    100% 
    {
        transform: scale(1);
    }
}

