/* navbar-nav start */
.navbar-nav li {
    float: left;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
}
.navbar-nav a {
    font-family: 'Poppins', sans-serif;
    font-size: 12.5px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: inline-block;
} 
.navbar-nav a i {
    font-size: 16px;
    font-weight: 600;
}
.navbar-nav a:hover{
    color: rgb(0, 0, 0);
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding: 20px 27px;
    border-top: 1px solid rgba(255, 255, 255, 0);
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
    border-top: 1px solid rgb(240, 60, 60);
    transition: all 0.25s linear;
}
.navbar-expand-lg .navbar-nav .icon {
    border-top: none;
    font-weight: 600;
}
.navbar-expand-lg .navbar-nav .icon:hover {
    cursor: pointer;
    color: rgb(240, 60, 60);
    border-top: none;
} 
.cartcontents {
    position: absolute;
    background: #f9f9f9;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #444;
    font-size: 9px;
    top: 17px;
    transition: all 0.25s linear;
}
.dropdown-content{
    display: none;
    border-top: 1px solid rgb(240, 60, 60);
    position: absolute;
    top: 67px;
    z-index: 2;
}
.dropdown-content a{
    display: block ;
    border-bottom: 1px solid rgb(233, 233, 233);
    padding: 10px 20px;
    background: white;
    color: black;
    color: rgb(133, 133, 133);
}
.dropdown-content a:hover{
    background: rgb(243, 242, 242);
}
.dropdown:hover .dropdown-content{
    display: block;
}
/* navbar-nav end */


/* carousel-item start */
.carousel-item {
    height: 520px;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: 1;

}
.carousel-item img {
    height: 100%;
}
.carousel-caption {
    bottom: 150px;
}
.carousel-caption h5 {
    font-size: 45px;
    letter-spacing: 2px;
    margin-top: 25px;
    font-family: 'Roboto Slab', serif;
}
.carousel-caption p {
    margin: auto;
    font-size: 28px;
    line-height: 1.9;
    font-family: 'Poppins', sans-serif;
}
.carousel-caption a {
    background: #ffffff35;
    border: 1px solid white;
    opacity: 0.8;
    font-size: 16px;
    padding: 6px 10px;
    display: inline-block;
    color: white;
    margin-top: 30px;
    text-decoration: none;
}
.carousel-caption a:hover {
    background: #eeeeee75;
}
.carousel-caption hr {
    width: 270px;
    border-top: 1px solid whitesmoke;
}
.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 50%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}
.carousel-control-next{
    right: 20px;
}
.carousel-control-prev {
    left: 20px;
}
.carousel-control-next:hover, .carousel-control-prev:hover {
    background: black;
    opacity: .5;
}
/* carousel-item end */