body {
    margin: 0;
    padding: 0;
}
.container {
    height: 100%;
    width: 80%;
}
@media (min-width: 1200px)
{
    .container {
    max-width: 1220px;
    }
}
.clear {
    clear: both;
}
p {
    margin: 0;
    padding: 0;
}
/* navbar-nav start */

.navbar-nav li {
    float: left;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
}
.navbar-nav a {
    font-family: 'Poppins', sans-serif;
    font-size: 12.5px;
    text-decoration: none;
    display: inline-block;
} 
.navbar-nav a i {
    font-size: 16px;
    font-weight: 600;
}
.navbar-nav a:hover{
    color: rgb(0, 0, 0);
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding: 20px 27px;
    border-top: 1px solid rgba(255, 255, 255, 0);
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
    border-top: 1px solid rgb(240, 60, 60);
    transition: all 0.25s linear;
}
.navbar-expand-lg .navbar-nav .icon {
    border-top: none;
    font-weight: 600;
}
.navbar-expand-lg .navbar-nav .icon:hover {
    cursor: pointer;
    color: rgb(240, 60, 60);
    border-top: none;
} 
.cartcontents {
    position: absolute;
    background: #f9f9f9;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #444;
    font-size: 9px;
    top: 17px;
    transition: all 0.25s linear;
}
.dropdown-content{
    display: none;
    border-top: 1px solid rgb(240, 60, 60);
    position: absolute;
    top: 67px;
    z-index: 2;
}
.dropdown-content a{
    display: block ;
    border-bottom: 1px solid rgb(233, 233, 233);
    padding: 10px 20px;
    background: white;
    color: rgb(67, 67, 67);
}
.dropdown-content a:hover{
    background: rgb(243, 242, 242);
}
.dropdown:hover .dropdown-content{
    display: block;
}
/* navbar-nav end */


/* carousel-item start */
.carousel-item {
    height: 600px;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: 1;

}
.carousel-item img {
    height: 100%;
}
.carousel-caption {
    bottom: 100px;
}
.carousel-caption h5 {
    font-size: 45px;
    font-family: 'Roboto Slab', serif;
}
.carousel-caption h2 {
    display: inline-flex;
    /* padding: 0 10px; */
    font-size: 65px;
    font-family: 'Roboto Slab', serif;
}
.carousel-caption div {
    display: inline-flex;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: red;
}
.carousel-caption p {
    margin: auto;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}
.carousel-caption a {
    background: #ffffff31;
    border: 1px solid white;
    opacity: 0.8;
    font-size: 14px;
    padding: 8px;
    display: inline-block;
    color: white;
    text-decoration: none;
    margin-top: 70px;
}
.carousel-caption a:hover {
    background: #eeeeee75;
}
.carousel-caption hr {
    width: 270px;
    border-top: 1px solid whitesmoke;
    margin-top: 30px;
    margin-bottom: 40px;
}
.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 50%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}
.carousel-control-next{
    right: 20px;
}
.carousel-control-prev {
    left: 20px;
}
.carousel-control-next:hover, .carousel-control-prev:hover {
    background: black;
    opacity: .5;
}
/* carousel-item end */

/* start part_1 */
.part_1 {
    height: 350px;
    padding: 100px 0;
    background: white;
}
.part_1 .layers, .part_1 .love, .part_1 .tools, .part_1 .glove {
    max-width: 235px;
    width: 100%;
    margin-right: 5%;
    float: left;
    text-align: center;
}
.part_1 .glove {
    margin-right: 0;
}
.part_1 i {
    height: 85px;
    width: 85px;
    border-radius: 50%;
    background: white;
    font-size: 43px;
    color: #F44336;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}
.part_1 i:hover {
    color: rgb(255, 255, 255);
    background: #F44336;
}
.service-name p {
    padding-top: 10px;
    color: #444;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Roboto Slab', serif;
}
.service-text p {
    padding-top: 18px;
    font-size: 12px;
    color: #444;
    font-weight: 300;
    font-family: 'Roboto Slab', serif;
}

/* end part_1 */

/* start part_2 */
.part_2 {
    background: #f7f7f7;
    padding-bottom: 75px;
}
.part_2 .line-one {
    margin-bottom: 25px;
}
.part_2 .line-one, .part_2 .line-two {
    display: inline-flex;
}
.part_2 .image-part {
    width: 45%;
    height: 360px;
    margin-right: 3%;
    background: white;
}
.part_2 .image-part:nth-child(3), .part_2 .image-part:nth-child(6) {
    margin-right: 0;
}
.part_2 .image-part p {
    text-align: center;
    color: #444;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}
.part_2 .image-part .title {
    font-size: 21px;
}
.part_2 .image-part .written_by {
    font-size: 14px;
}
.part_2 .image-part .portfolio-image:hover .portfolio-hover {
    opacity: 1;
    transform: translateY(0);
}
.part_2 .image-part .portfolio-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
}
.part_2 .image-part {
    position: relative;
}
.part_2 .image-part img {
    width: 100%;
    height: 230px;
    /* position: absolute; */
    top: 0;
    left: 0;
    object-fit: cover;
}

/* start btn part */
.button-center {
    display: table;
    margin: auto;
}
.btn-simple {
    border: 1px solid #eee !important;
    color: #444 !important;
    border-radius: 1px;
    background: #fff;
    font-size: 13px !important;
    padding: 10px 20px !important;
    display: inline-block;
    margin-top: 35px;
    font-weight: 400 !important;
    line-height: 20px !important;
    min-width: inherit !important;
}
.btn-simple:hover {
    text-decoration: none;
    background: #f7f7f7;
}
/* end btn part */

/* end part_2 */


/* start common part of part_2 and part_4 part_5*/
.promo-part {
    padding-top: 75px;
}
.promo-text {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    color: #444;
    font-family: 'Roboto Slab', serif;
}
.promo-paragraph {
    color: #444;
    font-size: 14px;
    text-align: center;
    margin-bottom: 50px;
}
hr {
    width: 70px;
    border-top: 1px solid rgb(255, 0, 0); 
}
/* end common part of part_2 and part_4 */

/* start part_4 */
.part_4 {
    margin-bottom: 80px;
}
.service_1, .service_2, .service_3, .service_4, .service_5, .service_6{
    width: 33.3%;
    padding: 20px;
    float: left;
}
.serv-icon{
    float: left;
    width: 35px;
    height: 120px;
    color: #F44336;
    font-size: 35px;
    margin-right: 20px;
}
.serv-block .serv-name, .serv-block .serv-disc {
    margin: 0;
    font-weight: 300;
    color: #444;
}
.serv-block .serv-name {
    font-size: 18px;
    padding: 14px 0;
    font-family: 'Roboto Slab', serif;
}
.serv-block .serv-disc {
    font-size: 14px;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
}

/* end part_4 */

/* start part_5 */
.part_5 {
    background: #f7f7f7;
    padding-bottom: 70px;
}
.testimonial-block {
    background: white;
    float: left;
    width: 47%;
    margin: 16px;
    padding: 30px;
}
.testimonial-photo {
    float: left;
    height: 110px;
    margin-right: 40px;
}
.testimonial-photo img{
    width: 75px;
    border-radius: 50%;
}
.testimonial-text, .testimonial-name {
    margin: 0;
    font-weight: 300;
    color: #444;
}
.testimonial-name p{
    display: inline-block;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
}
.testimonial-name {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
.testimonial-desc p {
    line-height: 1.7;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}
/* end part_5 */

/* start part_6 */
.part_6 {
    background: white;
}
.part_6 .blog {
    float: left;
    width: 33.33%;
    padding: 0 15px 100px;
}
.part_6 .blog .blog-image {
    transition: all 0.2s linear;
    position: relative;
}
.part_6 .blog img {
    width: 100%;
    height: 250px;
}
.part_6 .blog-image a i {
    position: absolute;
    top: 45%;
    left: 47%;
    color: white;
    font-size: 40px;
    /* opacity: 0; */
}
.part_6 .blog-name {
    text-align: center;
    padding: 13px 0;
}
.part_6 .blog-name a {
    font-size: 19px;
    color: #444;
    font-weight: 300;
    font-family: Roboto Slab, sans-serif;
}
.part_6 .blog-name a:hover {
    text-decoration: none;
    color: #F44336;
} 
.part_6 .blog-desc {
    color: #999;
    font-size: 13px;
    width: 100%;
    text-align: center;
}
.blog-desc p {
    display: inline;
}
.blog-desc a {    
    display: inline;
    color: #999;
    text-transform: capitalize;
}

/* end part_6 */


/* start footer */

.footer {
    background: #333;
    min-height: 300px;
    max-height: 100%;
    width: 100%;
    margin-bottom: -7px;
    font-size: 13px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: inline-block;
}
p {
    color: whitesmoke;
}
span {
    color: whitesmoke;
}

/* start soc-media */
.soc-media {
    background: #333;
    border-bottom: 1px solid #444;
}
.soc-icon {
    background: #333;
    width: 16.50%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    border-right: 1px solid #444;
}
.first {
    border-left: 1px solid #444;
}
.first:hover {
    background: #3b5998 ;
    transition: all 0.25s linear;
}
.second:hover {
    background: #00acee;
    transition: all 0.25s linear;
}
.third:hover {
    background:  #db4a39;
    transition: all 0.25s linear;
}
.forth:hover {
    background: #ea4c89 ;
    transition: all 0.25s linear;
}
.fifth:hover {
    background: #0e76a8;
    transition: all 0.25s linear;
}
.sixth:hover {
    background: #f66904;
    transition: all 0.25s linear;
}
.soc-icon i {
    width: 50px;
    height: 50px;
    font-size: 25px;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* end soc-media */

/* start middle-footer */

.get_in_touch i {
    color: white;
}


/* end middle-footer */

/* end footer */

