/* div p{
    background: greenyellow;
    padding: 5px;
} */
div > p{
    background: greenyellow;
    padding: 5px;
}
/* div + p{
    background: greenyellow;
    padding: 5px;
} */
/* div ~ p{
    background: greenyellow;
    padding: 5px;
} */