body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: rgb(243, 240, 240);
    box-sizing: border-box;
    width: 1848px;
    margin: auto;
}
p {
    margin: 0;
    padding: 0;
}
.clear {
    clear: both;
}
.header {
    width: 1848px;
    height: 80px;
    background: rgb(15, 197, 15);
    color: white;
    overflow: hidden;
}
.container {
    width: 1663.19px;
    margin: auto;
    /* max-width: 1520px; */
}
.right {
    width: 375.75px;
    height: 100%;
    float: left;
}
.right p {
    margin: 0;
    margin-top: 31px;
    font-size: 16px;
}
.email,
.phone {
    float: left;
    margin-right: 40px;
}
.phone {
    margin-right: 0;
}
.left {
    width: 250px;
    height: 100%;
    float: left;
    margin-right: 1037px;
}
.left .button {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 25px;
    border: 2px solid white;
    margin: 20px 1px;
    overflow: hidden;
    background: rgb(15, 197, 15);
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(35, 66, 34, 0.1);
    transition: all 0.8s ease-out;
}
.left .button:hover {
    width: 145px;
    background: white;
}
.left .button .icon {
    display: inline-block;
    height: 35px;
    width: 35px;
    border-radius: 25px;
    box-sizing: border-box;
    line-height: 35px;
    text-align: center;   
}
.left .button:hover {
    box-shadow: 8px 8px 10px rgba(25, 131, 32, 0.8);
}
.left .button:nth-child(1):hover .icon {
    background: #4267B2;
}
.left .button:nth-child(2):hover .icon {
    background: #1DA1F2;
}
.left .button:nth-child(3):hover .icon {
    background: #f03434;
}
.left .button .icon i {
    font-size: 25px;
    line-height: 35px;
    color: rgb(255, 255, 255);
}
.left .button:hover .icon i {
    color: #fff;
}
.left .button span {
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;
    margin-left: 5px;
    transition: all 0.8s ease-out;
}
.left .button:nth-child(1) span {
    color: #4267B2;
}
.left .button:nth-child(2) span {
    color: #1DA1F2;
}
.left .button:nth-child(3) span {
    color: #f03434;
}


.nav-bar {
    width: 1848px;
    height: 91px;
    overflow: hidden;
}
.logo img {
    width: 200px;
    cursor: pointer;
    float: left;
    margin-top: 16px;
}
.nav {
    width: 580px;
    float: left;
    margin-left: 883px;
}
.nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav ul li {
    list-style: none;
}
.nav ul li a {
    position: relative;
    display: block;
    padding: 11px 25px;
    margin: 25px 0;
    text-decoration: none;
    text-transform: capitalize;
    color: #262626;
    font-weight: 500;
    font-size: 15px;
    transition: 0.5s;
}
.nav ul li a:hover {
    color: white;
}
.nav ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    transform: scaleY(2);
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
}
.nav ul li a:hover::before {
    transform: scaleY(1.2);
    opacity: 1;
}
.nav ul li a::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    transform: scaleY(0);
    transition: 0.5s;
    z-index: -1;
}
.nav ul li a:hover::after {
    transform: scaleY(1);
}


.background-image {
    position: relative;
    width: 1848px;
    height: 700px;
    overflow: hidden;
}
.background-image ul {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.background-image ul li {
    list-style: none;
}
.background-image ul li .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform: rotateY(90deg);
    transform-origin: left;
}
.background-image ul li .slide img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}
.background-image ul li input[type="radio"] {
    position: absolute;
    z-index: 1;
    visibility: hidden;
}
.background-image .navigation {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.background-image .bar {
    width: 25px;
    height: 15px;
    border: 4px solid rgb(255, 255, 255);
    margin: 4px;
    cursor: pointer;
    transition: transform 0.5s;
    transform: scale(1);
}
.background-image .bar:hover {
    background: white;
    transform: scale(1.2);
}
.background-image ul li input[type="radio"]:checked ~ .slide {
    transition: transform 0.5s;
    transform: rotateY(0deg);
    transform-origin: right;
}
.background-image ul li input[type="radio"]:checked ~ .slide img {
    animation: animate 40s linear infinite;
}
@keyframes animate {
    0% 
    {
        transform: scale(1);
    }
    50% 
    {
        transform: scale(1.5);
    }
    100% 
    {
        transform: scale(1);
    }
}
.image-overlay {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 443px;
    padding: 25px 45px;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    margin-left: 84px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image-overlay:hover {
        box-shadow: 5px 0 8px rgb(255, 255, 255),0 5px 8px rgb(255, 255, 255);
}
.image-overlay .anna-frank p {
    margin: 0;
    margin-bottom: 15px;
    font-size: 45px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image-overlay .button p {
    margin: 0;
    display: inline-block;
    border: 2px solid white;
    padding: 10px 15px;
    cursor: pointer;
}
.image-overlay .button {
    transition: 0.8s;
}
.image-overlay .button:hover {
    letter-spacing: 1.2px;
    background: rgb(225, 225, 225, 0.3);
}


.three-box {
    width: 1848px;
}
.box {
    border: 2px solid none;
    border-radius: 10px;
    margin: 100px 0;
    margin-right: 170px;
    padding: 65px 65px;
    float: left;
    background: rgb(245, 240, 240);
    box-shadow: -5px -5px 7px #ffffff, 5px 5px 5px rgb(94, 104, 121, .288);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.box:hover {
    box-shadow: inset -5px -5px 7px #ffffff, inset 5px 5px 5px rgb(94, 104, 121, .288);
    transform: translateY(3px);
}
.box3 {
    margin-right: 0;
}
.box .title p {
    font-size: 35px;
    font-weight: 900;
}
.box .description p {
    width: 307px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(136, 133, 133);
    margin-top: 40px;
}
.box .extention p {
    font-size: 18px;
    font-weight: 500;
    color: rgb(136, 133, 133);
    margin-bottom: 40px;
}
.box .action {
    font-size: 18px;
    font-weight: 500;
}
.charity-causes {
    width: 1848px;
    margin: 20px 0 90px 0;
}
.charity-causes p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.charity-causes .title p {
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 10px;
}
.charity-causes .description p {
    font-size: 18px;
    color: rgb(136, 133, 133);
}
.charity-causes .extention p {
    font-size: 18px;
    color: rgb(136, 133, 133);
}


.part {
    width: 485px;
    margin-right: 104px;
    float: left;
    margin-bottom: 90px;
    position: relative;
}
.part3 {
    margin-right: 0;
}
.img img {
    width: 485px;
    height: 300px;
    margin-bottom: 50px;
    border-radius: 5px;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.2), -10px -10px 7px rgb(255, 255, 255);
    transition: 0.6s;
}
.img img:hover {
    transform: translateY(1px);
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.2), -20px -20px 12px rgb(255, 255, 255);
}
.three-images .title p{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}
.three-images .text p{
    font-size: 17px;
    color: rgb(136, 133, 133);
    text-align:justify;
    line-height: 1.5;
    margin-bottom: 22px;
}


.donetion .donetion-text a,
.three-images .donate a {
    position: absolute;
    padding: 15px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #fff;
}
.donetion .donetion-text a:hover,
.three-images .donate a:hover {
    color: rgb(10, 189, 10);
}
.donetion .donetion-text a::before,
.three-images .donate a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(10, 189, 10);
    border-radius: 6px;
    z-index: -1;
    transition: transform 0.6s;
    transform-origin: bottom right;
    transform: scale(1);
}
.donetion .donetion-text a:hover::before,
.three-images .donate a:hover::before {
    transition: transform 0.6s;
    transform-origin: top left;
    transform: scale(0);
}
.donetion .donetion-text a::after,
.three-images .donate a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgb(10, 189, 10);
    box-sizing: border-box;
    z-index: -1;
    transition: transform 0.6s;
    transform-origin: top left;
    transform: scale(0);
}
.donetion .donetion-text a:hover::after,
.three-images .donate a:hover::after {
    transition: transform 0.6s;
    transform-origin: bottom right;
    transform: scale(1);
    border-radius: 6px;
}


.image {
    position: relative;
    width: 1663.19px;
    height: 450px;
    margin-bottom: 110px;
}
.education-image {
    display: block;
    width: 100%;
    height: 100%;
}
.education-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.education-overlay p {
    font-size: 50px;
    font-weight: 600;
    width: 830px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.donetion-image img {
    width: 781.69px;
    height: 450px;
    margin-right: 3%;
    float: left;
}
.donetion-text {
    width: 813.59px;
    float: left;
}
.donetion-text .title p {
    font-size: 40px;
    font-weight: 600;
    margin: 30px 0;
}
.donetion-text .description p {
    font-size: 17px;
    text-align: justify;
    color: rgb(100, 100, 100);
    line-height: 1.6;
    margin-bottom: 27px;
}



.partner .title p {
    margin: 100px 0 30px 0;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}
.partner .logo ul {
    margin: 0;
    padding: 0;
}
.partner .logo ul li {
    list-style: none;
}
.partner .logo ul li a{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -7px -7px 10px -1px rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    text-decoration: none;
    font-size: 50px;
    color: rgb(175, 175, 175);
    float: left;
    margin: 30px 99px;
    margin-bottom: 40px;
    position: relative;
    transition: 0.7s;
}
.partner .logo ul li a:hover {
    color: rgb(141, 141, 141);
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
                inset -4px -4px 6px -1px rgba(255, 255, 255, 0.822), 
                -0.5px -0.5px 0px rgba(255, 255, 255, 1), 
                0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 
                0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.01);
    transform: translateY(-15px);
}
.partner .logo ul li a i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


hr {
    border-top: 1px solid rgb(214, 214, 214);
}



.footer {
    overflow: hidden;
    margin: 25px 0 50px 0;
}
.footer ul {
    margin: 0;
    padding: 0;
}
.footer ul li {
    list-style: none;
    line-height: 2;
    color: rgb(110, 110, 110);
}
.footer ul li:first-child {
    color: black;
    font-size: 17px;
    font-weight: 900;
    margin-bottom: 13px;
}
.footer ul .sub {
    margin-bottom: 20px;
} 
.footer ul li .title {
    line-height: 1;
    margin-bottom: 0;
}
.footer ul li a {
    text-decoration: none;
    color: rgb(110, 110, 110);
}
.footer ul li a:hover {
    text-decoration: underline;
}
.footer .about {
    width: 24%;
    float: left;
    margin-right: 60px;
}
.footer .about img {
    width: 200px;
    margin: 0 45px 25px 45px;
}
.footer .about p {
    width: 100%;
    text-align: justify;
    color: rgb(110, 110, 110);
    line-height: 1.7;
}
.footer .page {
    width: 399.16px;
    float: left;
}
.footer .link {
    width: 399.16px;
    float: left;
}

.footer .contact_us {
    width: 399.16px;
    float: left;
}


.theme {
    width: 100%;
    height: 70px;
    background: rgb(236, 236, 236);
}
.theme p {
    color: rgb(73, 73, 73);
    font-size: 14px;
    text-align: center;
    padding: 27px 0;
}