p{
    color: rgb(6, 66, 68);
    text-align: justify;
    text-indent: 70px;
    line-height: 1.5;
}

a{
    text-decoration: none;
    color: rgb(50, 151, 245);
    font-size: 18px;
}

h4{
    color: rgb(9, 9, 110);
    text-decoration: underline;
}

h5{
   color: rgb(6, 6, 128);
   text-decoration: overline;
   text-align: center;
}

h6{
    color: rgb(15, 15, 129);
    text-decoration: line-through;
    text-align: right
}

h1{
    color: rgba(80, 19, 19, 0.774);
    text-transform: uppercase;
    text-shadow: 7px 3px rgb(189, 171, 171)
}

h2{
    text-transform: lowercase;
    letter-spacing: 5px;
}

h3{
    color: rgb(172, 102, 10);
    text-transform: capitalize;
    word-spacing: 10px;
}